# Ignore KiCad backup and swap files
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~

# Ignore KiCad autosave files
*.tmp
*.sav

# Ignore project specific configuration
fp-info-cache
sym-lib-table
fp-lib-table

# Ignore other temporary files
*.log
*.swp

# Ignore Jekyll build and cache directories
_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor/bundle

# Ignore OS-specific files
.DS_Store
Thumbs.db
